@import 'global';

.nav_header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    z-index: 2;

    @include device(tablet) {
        mix-blend-mode: unset !important;
    }
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85vw;
    margin-top: calc(32px + 32px);
    position: relative;

    @include device(tablet) {
        width: calc(100% - 18px);
        justify-content: end;
    }
}

.nav_logo {
    display: flex;
    align-items: center;

    .logo {
        height: 65px;
        width: auto;
        padding: 17px 0px 7px 12px;

        @include device(tablet) {
            padding: 15px 0px 9px 9px;
        }
    }
}

.nav_buttons {
    display: flex;
    gap: 20px;

    a {
        @include font($font-stack, 13.5px, 310, inherit, inherit);
    }

    a:not(a:nth-child(1)) {
        color: #fff;
    }

    @include device(tablet) {
        gap: 14px;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.25s, opacity 0.25s ease-in-out;

        .nav_top {
            flex-direction: column;
            align-items: flex-end;
            gap: 14px;

            a {
                @include font($font-stack, 13.5px, 210, inherit, #fff);
                background-color: unset;
            }
            
            &:after {
                content: '';
                position: fixed;
                background-color: rgba(15, 15, 15, 0.79);
                top: 0; left: 0;
                height: 100%; width: 100%;
                z-index: -1;
            }

        }
    }
}

.nav_links {
    @include device(tablet) {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
}

.media_links {
    display: none;
    
    @include device(tablet) {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-top: 20px;
        transform: scale(0.8);
        transform-origin: left;
    }
}

.hamburger_menu {
    input {
        display: none;
    }

    @include device(tablet) {
        display: flex;
        flex-direction: column;
        gap: 5.5px;
        align-items: flex-end;
        padding-right: 9px;
        cursor: pointer;
        position: relative;

        &:before {
            content: '';
            display: block;
            width: 26px;
            height: 3px;
            border-radius: 30px;
            background-color: #fff;
            position: relative;
        }

        input {
            content: '';
            display: block;
            width: 18px;
            height: 3px;
            border-radius: 30px;
            background-color: #fff;
            appearance: none;
            padding: 0;
            margin: 0;
            outline: none;
            pointer-events: none;
            position: relative;
            z-index: 1;
        }

        input:checked + .nav_buttons {
            overflow: visible;
            visibility: visible;
            opacity: 1;
        }

        .nav_buttons a {
            font-size: 26px;
            font-weight: 350;
            padding: 0;
            color: #ffffffc6;

            @include device(tablet) {
                &:nth-child(1) {
                    padding-top: 3rem;
                }

                &:hover {
                    color: #fff;
                    background-color: initial;
                }
            }

        }
    }
}